@model IEnumerable<Quartalsarbeit_GR1.Models.Athlete>

@{
    ViewBag.Title = "Athleten";
}

<h2>Athleten</h2>

<p>
    @Html.ActionLink("Create New", "AthleteCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geburtstag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geschlecht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gewicht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groesse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verein.Vereinsname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geburtstag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geschlecht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gewicht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groesse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verein.Vereinsname)
            </td>
            <td>
                @Html.ActionLink("Edit", "AthleteEdit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "AthleteDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
