@using Quartalsarbeit_GR1.Models
<!-- Sidebar -->
<nav id="sidebar">

    <div id="dismiss">
        <i class="fas fa-address-book"></i>
    </div>

    <div class="sidebar-header">
        <h3>Techsport</h3>
    </div>

    <ul class="navbar-nav mr-auto">
        @if (User.IsInRole(RoleName.Administrator))
        {

            <li>@Html.ActionLink("Kategorien", "Index", "Categories")</li>
            <li>@Html.ActionLink("Disziplinen", "Index", "Disciplines")</li>
            <li>@Html.ActionLink("Vereine", "Index", "Clubs")</li>
            <li>@Html.ActionLink("Anlässe", "Index", "Events")</li>
        }
        else
        {
            <li>@Html.ActionLink("Anlässe", "Index", "Events")</li>
            <li>@Html.ActionLink("Athleten", "Index", "Athletes")</li>
        }

    </ul>
    @Html.Partial("_LoginPartial")

</nav>