@model IEnumerable<Quartalsarbeit_GR1.Models.Category>

@{
    ViewBag.Title = "Category";
}

<h2>Kategorien</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Categories", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAlter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAlter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geschlecht)
            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bezeichnung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinAlter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAlter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geschlecht)
        </td>
    </tr>
}

</table>
