@model Quartalsarbeit_GR1.Models.StartNumberConfiguration

@{
    ViewBag.Title = "Startnummernblock";
}

<h2>Startnummernblock</h2>

<div>
    <h4>Startnummernblock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.minStartnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minStartnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxStartnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxStartnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gruppierung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gruppierung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.differenz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.differenz)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "StartNumberConfigurationEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
